header {
    background-color: rgb(235, 237, 237);
    height: 120px;
    display: flex;
}

h1 {
    color: rgb(0, 79, 190);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name {
    padding: 5px;
    padding-left: 10px;
}

.image1 {
    width: 120px;
    height: 120px;
}

.links {
    padding-top: 35px;
    padding-left: 35px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-right: 380px;
}

.links>a {
    color: rgb(1, 128, 255);
    padding: 25px;
    text-decoration: none;

}

#b2 {
    display: inline-flex;
}

#img1 {
    height: 518px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2rem;
}

p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 60px;
    padding-left: 60px;
    text-align: justify;
    padding-top: 60px;
    font-size: x-large;

}

.b3 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(232, 232, 232);
    background-color: rgb(0, 128, 255);
    text-align: center;

}

.card1 {
    width: 370px;
    padding-right: 10px;
}

.card2 {
    width: 370px;
    padding-right: 10px;
}

.card3 {
    width: 370px;
    padding-right: 10px;
}

.card4   {
    width: 370px;
    padding-right: 10px;
}

#txt1 {
    font-size: 15px;
}

#prd-list {
    display: flex;
    display: inline-flex;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding: 10px;
}

